<!DOCTYPE html>
<html lang="es">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Login App - {{{title}}}</title>
     <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
     {{> navigation}}
     <div class="container py-4">
               {{!-- este es el index.hbs --}}
               {{{body}}}

     </div>
</body>

</html>