<h1 class="text-center">My Books: {{book.title}}</h1>
<div class="col-md-4 mx-auto">
     <div class="card card-body">
          <h3>{{book.title}}</h3>
          <p>{{book.author}}</p>
          <p>{{book.isbn}}</p>
     </div>
</div>